<footer class=" bg-black py-5 text-center text-light d-flex justfiy-content-center align-items-center flex-column">
    <p>Copyright MyGarage.be - @Wetteren-remy 2021</p>
    <p>Ce site à pour but l'apprentissage , toutes les informations sur celui-ci sont utilisée à titre d'exercices et les images sont prises du net à fin d'avoir un affichage plus réaliste.</p>
</footer>