<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Padauk&display=swap" rel="stylesheet">
    </head>
    <body>
    {% include "partials/header.html.twig" %}
    {#{message flash permettant de vérifier à l'envoi de mes formulaire si tout c'est bien passé}#}
        {% for label, messages in app.flashes %}
            <div class="container">
                <div class="alert alert-{{ label }} shadow mt-2 mb-2 rounded-2">
                    {% for message in messages %}
                        <p>{{ message | raw }}</p>
                    {% endfor %}
                </div>
            </div>
    {% endfor %}
        {% block body %}
        {% endblock %}
         {% include "partials/footer.html.twig" %}
        {% block javascripts %}
        {% endblock %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
