{% extends "base.html.twig" %}

{% block body %}
<div class="container pt-3 pb-3 min-vh-75 ">
<div class="row d-flex align-items-center justify-content-around flex-column h-100">

<h2 class="text-center mt-3 mb-3 fs-1">L'accès est réservé</h2>
<img class="error-img" src="https://static.blog4ever.com/2013/02/727680/voiture-luxe-5.png?rev=1547371777" alt="voiture">

Nous vous invitons à retourner vers notre page d'accueil. <a class="btn btn-gold btn-error d-block mt-2 mb-2" href="{{path('homepage')}}">Accueil</a>
</div>
</div>
{% endblock %}