{% extends "base.html.twig" %}
{% block title %}Modification utilisateur{% endblock %}
{% block body %}
<div class="container shadow">
{{form_start(userForm)}}
{{form_widget(userForm)}}
<button type="submit" class="btn btn-gold mb-2">modifier</button>
{{form_end(userForm)}}
</div>
{% endblock %}