{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid p-0 min-vh-100">
    <div class="container shadow position-relative">
      <div class="row">
        <div class="profil-fond"></div>
            <div class="col-6 m-auto d-flex justify-content-center align-items-center flex-column profil-picture">
              <div class="rounded-circle shadow profil-img">
                <img class="rounded-circle" src="{{user.picture}}" alt="photo-profil">
              </div>  
                <h1>Bienvenu <strong>{{user.getFullName}}</strong></h1>

              <div class="profil-onglet d-flex justify-content-evenly w-50 align-items-center">
                <a href="{{ path('edit_user') }}" class="shadow profil-onglet-btn btn"><i class="fas fa-marker"></i></a>
                <a href="#" class="shadow profil-onglet-btn btn"><i class="fas fa-trash-alt"></i></a>
                <a href="#" class="shadow profil-onglet-btn btn"><i class="fas fa-key"></i></a>
              </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}